.wrapper{
    border: 1px solid rgba(0,0,0, .5);
    width: 60vw;
}
h2{
    margin: 0;
    font-size: 1.6em;
    color: rgba(98,91,189,.5)
}
.bloc{
    padding: 10px;
}
.wrapper div:not(:last-child){
    border-bottom: 1px dotted black;
}
p{
    color: rgba(0,0,0,.7)
}
span{
    color: black;
    font-weight: bold;
}