table, td, tr {
  border: 1px solid black;
  margin-top: 5%;
  margin-left: 15%;
}

table {
  background-color: grey;
  border-radius: 5px;
  float: left;
}

td, tr {
  width: 25px;
  height: 25px;
  background-color: #BBD2E1;
}

body {
  background-image: url(img/fond_battleship.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-shadow: 2px 2px 2px white;
  /* color: rgb(4, 139, 154, 0); */
}

.regle {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 15px;
  float: right;
  width: 48%;
  text-align: justify;
  margin-top: 2%;
  margin-right: 2%;
  font-family: 'Roboto', sans-serif;
}

.regle p {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 2%;
  line-height: 1.4;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 1.3em;
}

.regle h3 {
  text-align: center;
  font-size: 1.6em;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.tray {
  float: left;
  width: 48%;
}

.button input {
  margin-top: 3%;
  margin-left: 5%;
  border-radius: 15px;
  color: rgb(4, 139, 154);
  border:rgb(4, 139, 154);
}

button {
  border-radius: 15px;
  color: rgb(4, 139, 154);
  background-color: rgba(0, 0, 0, 0.7);
  border: rgb(4, 139, 154);
}

audio {
  margin-top: 3%;
}
